<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <value name="defAccess">false</value>
  <record name="groups" javaclass="com.wm.util.Values">
    <record name="Replicators" javaclass="com.wm.app.b2b.server.ACLGroup">
      <value name="name">Replicators</value>
      <record name="allow" javaclass="com.wm.util.Values">
        <value name="local/Administrators">local/Administrators</value>
        <value name="local/Replicators">local/Replicators</value>
      </record>
      <record name="deny" javaclass="com.wm.util.Values">
      </record>
    </record>
    <record name="Developers" javaclass="com.wm.app.b2b.server.ACLGroup">
      <value name="name">Developers</value>
      <record name="allow" javaclass="com.wm.util.Values">
        <value name="local/Administrators">local/Administrators</value>
        <value name="local/Developers">local/Developers</value>
      </record>
      <record name="deny" javaclass="com.wm.util.Values">
      </record>
    </record>
    <record name="Internal" javaclass="com.wm.app.b2b.server.ACLGroup">
      <value name="name">Internal</value>
      <record name="allow" javaclass="com.wm.util.Values">
        <value name="local/Administrators">local/Administrators</value>
        <value name="local/Developers">local/Developers</value>
      </record>
      <record name="deny" javaclass="com.wm.util.Values">
      </record>
    </record>
    <record name="ReadOnlyAdministrators" javaclass="com.wm.app.b2b.server.ACLGroup">
      <value name="name">ReadOnlyAdministrators</value>
      <record name="allow" javaclass="com.wm.util.Values">
        <value name="local/ReadOnlyAdministrators">local/ReadOnlyAdministrators</value>
      </record>
      <record name="deny" javaclass="com.wm.util.Values">
      </record>
    </record>
    <record name="Administrators" javaclass="com.wm.app.b2b.server.ACLGroup">
      <value name="name">Administrators</value>
      <record name="allow" javaclass="com.wm.util.Values">
        <value name="local/Administrators">local/Administrators</value>
      </record>
      <record name="deny" javaclass="com.wm.util.Values">
      </record>
    </record>
    <record name="Anonymous" javaclass="com.wm.app.b2b.server.ACLGroup">
      <value name="name">Anonymous</value>
      <record name="allow" javaclass="com.wm.util.Values">
        <value name="local/Everybody">local/Everybody</value>
      </record>
      <record name="deny" javaclass="com.wm.util.Values">
      </record>
    </record>
    <record name="Default" javaclass="com.wm.app.b2b.server.ACLGroup">
      <value name="name">Default</value>
      <record name="allow" javaclass="com.wm.util.Values">
        <value name="local/Everybody">local/Everybody</value>
      </record>
      <record name="deny" javaclass="com.wm.util.Values">
        <value name="local/Anonymous">local/Anonymous</value>
      </record>
    </record>
  </record>
</Values>
