<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="modules" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="moduleName">odata-server</value>
        <value name="moduleInitializeClassName">com.softwareag.is.odata.core.Init</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="moduleName">websocket-server</value>
        <value name="moduleInitializeClassName">com.softwareag.is.websocket.server.Init</value>
      </record>	  
	  <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="moduleName">graphql-server</value>
        <value name="moduleInitializeClassName">com.softwareag.is.graphql.Init</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="moduleName">alert-framework</value>
        <value name="moduleInitializeClassName">com.softwareag.is.alert.notifier.Init</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
