<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <value name="fsdata.blockDevice" id="1">RAF</value>
  <value name="fsdata.dataMaxExtents" id="2">8192</value>
  <object idref="2" name="fsdata.indexMaxExtents"/>
  <value name="fsdata.dataThreshold" id="3">85</value>
  <object idref="3" name="fsdata.indexThreshold"/>
  <value name="fsdata.dbName" id="4">RepoV4</value>
  <value name="fsdata.dbGroup" id="5">WmRepository4</value>
  <object idref="5" name="fsdata.logGroup"/>
  <value name="fsdata.logSize" id="6">1</value>
  <value name="fsdata.dbSize" id="7">50</value>
  <value name="fsdata.avgBlockSize" id="8">400</value>
  <value name="fsdata.jdbc.jdbcdriver" id="9"></value>
  <object idref="9" name="fsdata.jdbc.dburl"/>
  <object idref="9" name="fsdata.jdbc.user"/>
  <object idref="9" name="fsdata.jdbc.password"/>
  <value name="fsdata.jdbc.sweeperInterval" id="10">90000</value>
  <value name="fsdata.jdbc.sweeperAge" id="11">15000</value>
  <value name="fsdata.jdbc.segmentSize" id="12">4096</value>
  <value name="fsdata.jdbc.maxCache" id="13">1024</value>
  <value name="fsdata.jdbc.errorLog" id="14">RepoV4JDBCError.log</value>
  <value name="fsdata.jdbc.maxConnRetry" id="15">12</value>
  <value name="fsdata.jdbc.connRetryInterval" id="16">10000</value>
  <record name="fsdata.jdbc.dbProp" id="17" javaclass="com.wm.util.Values">
  </record>
  <value name="fsdata.fullConsistencyCheck" id="18">conditional</value>
  <value name="fsdata.attemptRepair" id="19">false</value>
  <value name="sessiontimeout" id="20">180000</value>
  <value name="logfile" id="21">/Users/stephanetailland/dev/msr/customer-management/IntegrationServer/bin/../logs/RepoV4Error.log</value>
  <value name="persiststore" id="22">webmethods</value>
  <value name="mode" id="23">standalone</value>
</Values>
