<?xml version="1.0" encoding="UTF-8"?>

<!-- This file is used to identify what features are supported by this instance of Integration Server -->

<Values version="2.0">

  <record name="ServerSideBreakpoints" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
    <value name="descr">Server side Breakpoints</value>
  </record>
  <record name="PipelineDebug" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
    <value name="descr">Capability to support pipeline debug feature</value>
  </record>
  <record name="SplitEndpointsAlias" javaclass="com.wm.util.Values">
      <value name="enabled">true</value>
      <value name="descr">This feature supports differentiating endpoint alias based on Transport type and WSD type</value>
  </record>
 <record name="SchemaDomain" javaclass="com.wm.util.Values">
      <value name="enabled">true</value>
      <value name="descr">This feature provides capability to maintain more than one version of IS Schema by grouping them into a Schema domain</value>
  </record>
  <record name="HTTP URL alias" javaclass="com.wm.util.Values">
        <value name="enabled">true</value>
        <value name="descr">The HTTP URL path alias for the default HTTP invoke URL path.</value>
  </record>
  <record name="65SOAPMSG" javaclass="com.wm.util.Values">
          <value name="enabled">true</value>
          <value name="descr">This feature is to support migration of flow services that were created in IS 6.5</value>
  </record>
   <record name="NoHeaderHandlerValidation" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Strict matching of handler QName and document universal name is not required.</value>
  </record>
   <record name="ValidateSOAPResponse" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Validation of SOAP Response</value>
  </record>
   <record name="PipelineHeadersEnabled" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Headers enabled in pipeline</value>
  </record>
   <record name="RPCLITSOAP12Support" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">RPC/Literal and SOAP 1.2 combination support</value>
  </record>
  <record name="SOAP-JMS" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">SOAP over JMS support.</value>
  </record>
  <record name="WebServiceDescriptor-CompatibilityMode" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Provide compatibility mode option.  Allow web services to be invoked over pre 8.1 web service stack.</value>
  </record>
  <record name="ServiceAuditLog" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">This feature logs the user specified pipeline data for auditing purpose</value>
  </record>
   <record name="ContentModelCompliance" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Content Model Compliance support for XML Schema</value>
  </record>
   <record name="JMSConnections_Per_Trigger" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Support for separate JMS connections per trigger</value>
  </record>

   <record name="WSDL_Imports" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Support for storing wsdl imports</value>
  </record>
  
   <record name="JSONDocumentSupport" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">This feature provides the capability to create document type from JSON document</value>
  </record>
  
  <record name="GlobalVariablesSupport" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
    <value name="descr">This feature provides the global variables substitution for the flow services</value>
  </record>

  <record name="XercesValSupportAtServiceLevel" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
	<value name="descr">This feature provides the enable/disable Xerces parser validation at service level</value>
  </record>
  
  <record name="CachingXML" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
	<value name="descr">This feature provides way to handle the Large Documents via Caching XML mechanism</value>
  </record>
  
  <record name="Advanced_WS_Addressing" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
	<value name="descr">This feature supports advanced WS-Addressing use cases like synchronous request response MEP, ReplyTo and FaultTo support</value>
  </record>
  
  <record name="BROKER_UM_Support" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
	<value name="descr">This feature enables the use of existing Broker Trigger UI to support Messaging Universal provider type as well along with Broker</value>
  </record>
  
  <record name="XmlDataDocuments" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
	  <value name="descr">This feature enables the use of XmlData Document Types and XmlData encoded IData</value>
  </record>

  <record name="ElementChecksum" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
	<value name="descr">This feature enables the use of checksum for server elements</value>
  </record>
  
  <record name="RESTDescriptorGenerator" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Generates REST Descriptor for REST Resources</value>
  </record>
  
  <record name="omitXSDAny" javaclass="com.wm.util.Values">
    <value name="enabled">true</value>
	<value name="descr">This feature enables the use of xsd:any to be generated in WSDL</value>
  </record>

  <record name="CircuitBreaker" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">Enables Circuit Breaker feature on Designer</value>
  </record>
  
	<record name="SyncToDES_Support" javaclass="com.wm.util.Values">
		<value name="enabled">true</value>
		<value name="descr">Enables the Sync to DES feature on Designer</value>
	</record>

	<record name="RESTV2_Swagger_Enahncements" javaclass="com.wm.util.Values">
		<value name="enabled">true</value>
		<value name="descr">Enables the enhancements related to RESTV2 and Swagger features like decoupling of node, generate RAD by tags etc on Designer</value>
	</record>
	
	<record name="JSONAPISupport" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">This feature enables the JSONAPI spec support in IS depending on the WmJSONAPI package state.</value>
  </record>
  <record name="JSONSchemaSupport" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">This feature provides the capability to create document type from JSON Schema.</value>
  </record>
    <record name="Security_Support_For_Rest" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">This feature provides the capability to support  Tags, External Docs and Security Definitions for  Resource First and Swagger First</value>
  </record>
  
  	<record name="RESTv2_Backward_Compatibility" javaclass="com.wm.util.Values">
		<value name="enabled">true</value>
		<value name="descr">These changes enable the RESTv2 changes to be compatible with existing customer API.</value>
	</record>
	
  <record name="PublishToApiGatewayWithNameAndVersion" javaclass="com.wm.util.Values">
        <value name="enabled">true</value>
        <value name="descr">This feature provides the capability to specify API Name and Version when publishing to API Gateway.</value>
  </record>
  
    <record name="RESTConsumerSupport" javaclass="com.wm.util.Values">
        <value name="enabled">true</value>
        <value name="descr">This feature provides the capability to generate consumer from a Swagger document.</value>
    </record>
	
	<record name="GraphQL" javaclass="com.wm.util.Values">
        <value name="enabled">true</value>
        <value name="descr">This feature provides the capability to support GraphQL.</value>
    </record>
	
	<record name="GraphQLDataLoaders" javaclass="com.wm.util.Values">
        <value name="enabled">true</value>
        <value name="descr">This feature provides the capability to add dataloaders for GraphQL Descriptor.</value>
    </record>
    
   <record name="MQTT_Trigger" javaclass="com.wm.util.Values">
        <value name="enabled">true</value>
        <value name="descr">This feature enables the use of MQTT trigger UI</value>
   </record>

   <record name="MQTT_Trigger_ExactlyOnce" javaclass="com.wm.util.Values">
        <value name="enabled">false</value>
        <value name="descr">This feature enables the use of MQTT trigger UI: Exactly Once Setting</value>
   </record>

   <record name="GRPCSupport" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">This feature enables the GRPC spec support in IS depending on the WmGRPC package state.</value>
  </record>
  
  <record name="BigDecimalBigIntegerSupport" javaclass="com.wm.util.Values">
            <value name="enabled">true</value>
            <value name="descr">This feature enables full wrapper type support for BigDecimal and BigInteger.</value>
  </record>

</Values>
