# My News Service build pipeline

trigger: 
  - main
  - feature*

pool:
  name: Default

steps:

- task: DownloadSecureFile@1
  name: kubectlConfig
  displayName: 'Download kubectl config'
  inputs:
    secureFile: 'config-aks.yml'

- task: DownloadSecureFile@1
  name: kubernetesSecrets
  displayName: 'Download kubernetes secrets'
  inputs:
    secureFile: 'kubernetes-secrets.yaml'

- script: chmod u+x ./buildScripts/*.sh
  displayName: "Grant shell execution permissions"

- script: ./buildScripts/01.setJobInitialVariables.sh
  displayName: 'Set job variables'

- script: ./buildScripts/02.prepareAgentMachineV2.sh
  displayName: 'Prepare agent'

# Service Principal Credentials
- task: DownloadSecureFile@1
  name: ACRSPCredentials
  displayName: 'Download ACR SP credentials'
  inputs:
    secureFile: 'acr.sp.credentials.sh'

- task: DownloadSecureFile@1
  name: dockerEnv
  inputs:
    secureFile: 'qa.env'
  displayName: 'Download test environment file'

- script: ./buildScripts/04.build.sh
  displayName: 'Build'

- script: ./buildScripts/06.deployKubernetes.sh
  displayName: 'Deploy to Kubernetes'
