  <!--
    This WS-SecurityPolicy has the following constraints: 
    1. Uses Asymmetric Binding to do request/response Encryption
    2. No request/response Signature is enforced 
    3. One SignedSupportingToken with IssuedToken assertion is required (Issued token is encrypted)
    4. Timestamp is requested (Timestamp token needs to be signed) 
            
    Note: Property MustSupportRefKeyIdentifier will only work if the incoming cert is
    X509v3 (according to ws-security x509 1.1 profile; so don't use a cert
    generated using JDK keytool - it only generates v1 certs)
  -->

<wsp:Policy wsu:Id="SAMLAuthentication_Encryption" Name="SAML Authentication and Encryption"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">

  <wsp:ExactlyOne>
    <wsp:All>    
      <sp:AsymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
        <wsp:Policy>
          <sp:InitiatorToken>
            <wsp:Policy>
              <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                <wsp:Policy>
                  <sp:WssX509V3Token10 />
                  <sp:WssX509PkiPathV1Token10 />
                </wsp:Policy>
              </sp:X509Token>
            </wsp:Policy>
          </sp:InitiatorToken>
          <sp:RecipientToken>
            <wsp:Policy>
              <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                <wsp:Policy>
                  <sp:WssX509V3Token10 />
                  <sp:WssX509PkiPathV1Token10 />
                </wsp:Policy>
              </sp:X509Token>
            </wsp:Policy>
          </sp:RecipientToken>
          
          <sp:AlgorithmSuite>
            <wsp:Policy>
              <sp:TripleDesRsa15 />
            </wsp:Policy>
          </sp:AlgorithmSuite>
          
          <sp:Layout>
            <wsp:Policy>
              <sp:Strict />
            </wsp:Policy>
          </sp:Layout>

          <sp:IncludeTimestamp />

          <sp:ProtectTokens />
          
          <sp:OnlySignEntireHeadersAndBody />
          
        </wsp:Policy>
      </sp:AsymmetricBinding>
    
      <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
              <!-- sp:MustSupportRefKeyIdentifier/ -->
              <sp:MustSupportRefIssuerSerial/>
              <sp:MustSupportRefThumbprint/>
              <sp:RequireSignatureConfirmation/>
          </wsp:Policy>
      </sp:Wss11>
      <sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
              <!-- sp:MustSupportRefKeyIdentifier/ -->
              <sp:MustSupportRefIssuerSerial/>
          </wsp:Policy>
      </sp:Wss10>

      <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
        <wsp:Policy>
          <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
            <sp:RequestSecurityTokenTemplate>
              <wst:TokenType xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust">http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1</wst:TokenType>
              <wst:KeyType xmlns:wst="http://schemas.xmlsoap.org/ws/2005/02/trust">http://schemas.xmlsoap.org/ws/2005/02/trust/PublicKey</wst:KeyType>
            </sp:RequestSecurityTokenTemplate>
            <wsp:Policy>
              <sp:RequireInternalReference />
            </wsp:Policy>
            <Issuer xmlns="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            
              <!--********************************************************************-->
              <!--* Fill in the Endpoint reference of the Secure Token Service (STS) *-->
              <!--********************************************************************-->
              <Address xmlns="http://www.w3.org/2005/08/addressing">http://???</Address>
              
            </Issuer>
          </sp:IssuedToken>
        </wsp:Policy>
      </sp:SupportingTokens>
      
      <sp:EncryptedParts xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
        <sp:Body />
      </sp:EncryptedParts>
          
    </wsp:All>
  </wsp:ExactlyOne>
</wsp:Policy>
