apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: customer-management
  name: customer-management
spec:
  replicas: 3
  strategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
  minReadySeconds: 60
  selector:
    matchLabels:
      app: customer-management
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
      labels:
        app: customer-management
    spec:
      containers:
      - name: customer-management-mcgw
        image: sagcr.azurecr.io/microgateway:10.11
        ports:
        - name: metrics
          containerPort: 9090
        env:
        - name: mcgw_api_gateway_url
          value: https://presalesemeadev.apigw-aw-eu.webmethods.io/rest/apigateway
        - name: mcgw_api_gateway_user
          value: apimanager
        - name: mcgw_api_gateway_password
          valueFrom:
            secretKeyRef:
              name: apimanager-password
              key: password
        - name: mcgw_downloads_apis
          value: CustomersAPI
        - name: mcgw_ports_http
          value: "9090"
        - name: mcgw_ports_https
          value: "9093"
        - name: mcgw_microgatewayPool_microgatewayPoolName
          value: customer-management-mcgw
        - name: mcgw_aliases_customermanagement_be_url_type
          value: endpoint
        - name: mcgw_aliases_customermanagement_be_url_endPointURI
          value: http://localhost:5555/customer-management
        - name: mggw_applications_sync_enabled
          value: "true"
        - name: mggw_applications_sync_polling_interval_secs
          value: "10"
        livenessProbe:
          tcpSocket:
            port: 9090
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 9090
          initialDelaySeconds: 5
          periodSeconds: 10
      - image: staillansag/msr-customer-management:latest
        imagePullPolicy: Always
        name: customer-management-msr
        ports:
        - name: metrics
          containerPort: 5555
        volumeMounts:
        - mountPath: "/tmp/license"
          name: licenses
          readOnly: true
        env:
        - name: DATASOURCE_CLASS
          value: com.wm.dd.jdbcx.sqlserver.SQLServerDataSource
        - name: DB_USER
          value: sa
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-password
              key: password
        - name: DB_SERVERNAME
          value: sqledge
        - name: DB_PORT
          value: '1433'
        - name: DB_NAME
          value: db
        - name: MSR_URL
          value: wm.sttlab.eu:11090
        - name: IO_INT_URL
          value: https://presalesemeadev.int-aws-de.webmethods.io
        - name: IO_INT_USER
          value: intadmin
        - name: IO_INT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: intadmin-password
              key: password
        livenessProbe:
          tcpSocket:
            port: 5555
          initialDelaySeconds: 180
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 5555
          initialDelaySeconds: 5
          periodSeconds: 15
          failureThreshold: 12
      volumes:
      - name: licenses
        secret:
          secretName: licenses
      imagePullSecrets:
      - name: regcred

