{
    "apis" : [
        {
            "productName" : "adapterRuntime",
            "displayName" : "Adapter Runtime",
            "packageName" : "com.wm.adapters.common"
        }
    ]
}
