#webMethods Integration Server Configuration
#Fri Sep 23 23:03:37 CEST 2022
watt.adminapi.log.clientErrors=false
watt.adminapi.returnExceptions=false
watt.art.page.size=10
watt.art.synchronousNotification.selectExecuteUser=
watt.art.tmgr.timeout=-1
watt.broker.sync.enableBrokerSync=true
watt.broker.sync.forceDispatcherInit=false
watt.brokerCoder.verbose=false
watt.cachedirective.exclude.packages=
watt.client.data.blockSize=32768
watt.client.data.classLoader.legacy=false
watt.client.data.maxToStringLength\ =65536
watt.client.ftp.session.logoutOnServiceCompletion=false
watt.client.hashcode.legacy=false
watt.client.sftp.session.logoutOnServiceCompletion=false
watt.com.wm.artextdc.configVersion=1.0
watt.com.wm.isextdc.configVersion=1.0
watt.com.wm.isextdc.monitored=false
watt.config.systemProperties=mail.imap.partialfetch\=true
watt.core.brokerCoder.wireFormat=3
watt.core.brokerTypeCoder.verbose=false
watt.core.datatype.patternMatcherPool.delayFill=false
watt.core.datatype.patternMatcherPool.maxSize=50
watt.core.datatype.patternMatcherPool.minSize=10
watt.core.datatype.usejavaregex=false
watt.core.generatedTypeName.localName.prefix=__
watt.core.generatedTypeName.namespaceName.authority=localhost
watt.core.nodeIterator.retainFailures=false
watt.core.schema.anonymousCyclicExtensionDepth=3
watt.core.schema.createSchema.omitXSDAny=true
watt.core.schema.generateAllTypeDocuments=false
watt.core.schema.generateSubstitutionGroups=false
watt.core.schema.validateIncomingXSD=true
watt.core.template.compatibleScope=false
watt.core.template.enableFilterHtml=true
watt.core.template.enableSecureUrlRedirection=true
watt.core.transientStore.logExceptions=false
watt.core.validation.ignoreContent=false
watt.core.validation.maxErrors=1
watt.core.validation.multipleRoot=true
watt.core.validation.skipAbsentStarBody=false
watt.core.validation.skipMandatoryFields=false
watt.core.validation.validationEnabled=true
watt.core.validation.w3cConformant=false
watt.core.xml.allowedExternalEntities=
watt.core.xml.expandGeneralEntities=true
watt.core.xsd.useGeneratedURIForCreateXSD=false
watt.core.xsd.useGeneratedURIForNonRPC=true
watt.core.xsd.useKnownSchemaLocation=true
watt.debug.layout=legacy
watt.debug.level=Info
watt.debug.logfile=logs/server.log
watt.debug2.facList=
watt.debug2.logstringfile=lib\\logstr.txt
watt.frag.keep.original.servicename=false
watt.infradc.artmonitor=false
watt.net.client.SSLSessionTimeout=0
watt.net.clientKeepaliveAgingLimit=180
watt.net.clientKeepaliveTimeout=180
watt.net.clientKeepaliveUsageLimit=100
watt.net.default.accept=
watt.net.email.validateHost=false
watt.net.encodeToUpperCase=true
watt.net.ftp.ignoreErrors=false
watt.net.ftp.noExtensionKey=ftp_no_extension
watt.net.ftp.securitychecks=true
watt.net.ftpClientDataConnTimeout=30000
watt.net.ftpClientTimeout=600
watt.net.ftpConnTimeout=900000
watt.net.ftpDataConn=false
watt.net.ftpDataConnTimeout=60000
watt.net.ftpPassiveLocalAddr=
watt.net.ftpPassivePort.max=
watt.net.ftpPassivePort.min=
watt.net.ftpSweepInterval=600
watt.net.ftpUseCertMap=false
watt.net.ftpUseDefaultContentHdlr=true
watt.net.http.followRedirect=true
watt.net.http401.throwException=true
watt.net.http501-599.throwException=true
watt.net.httpChunkSize=8192
watt.net.httpPass=
watt.net.httpUser=
watt.net.jsse.client.disabledProtocols=SSLv2Hello,SSLv3,TLSv1,TLSv1.1
watt.net.jsse.client.enabledCipherSuiteList=default
watt.net.jsse.server.SSLSessionTimeout=
watt.net.jsse.server.disabledProtocols=SSLv2Hello,SSLv3,TLSv1,TLSv1.1
watt.net.jsse.server.enabledCipherSuiteList=default
watt.net.jsse.server.useCipherSuitesOrder=false
watt.net.localhost=localhost\:5555
watt.net.maxClientKeepaliveConns=0
watt.net.maxRedirects=5
watt.net.maxRetries=1
watt.net.overrideSystemProxyselector=false
watt.net.primaryListener=HTTPListener@5555@WmRoot
watt.net.proxy.fallbackToDirectConnection=true
watt.net.proxy.proxyAlias=
watt.net.proxy.useNonDefaultProxies=true
watt.net.proxySkipList=localhost
watt.net.retries=0
watt.net.sftpSweepInterval=600
watt.net.socketProvider=com.wm.ext.iaik.IaikSecureSocket
watt.net.socketpool.sweeperInterval=60
watt.net.ssl.client.cipherSuiteList=default
watt.net.ssl.client.handshake.maxVersion=tls
watt.net.ssl.client.handshake.minVersion=sslv2
watt.net.ssl.client.hostnameverification=false
watt.net.ssl.client.strongcipheronly=false
watt.net.ssl.client.useJSSE=true
watt.net.ssl.email.client.smtp.useJSSE=false
watt.net.ssl.email.client.useJSSE=false
watt.net.ssl.ftps.client.useJSSE=false
watt.net.ssl.server.cipherSuiteList=default
watt.net.ssl.server.clientHandshakeTimeout=20000
watt.net.ssl.server.handshake.maxVersion=tls
watt.net.ssl.server.handshake.minVersion=tls
watt.net.ssl.server.sessionlog=false
watt.net.ssl.server.sessionlog.cacheLogEntries=false
watt.net.ssl.server.sessionlog.cachedLogEntries.expiryTime=300
watt.net.ssl.server.sessionlog.file=logs/inboundSSLSessions.log
watt.net.ssl.server.sessionlog.includeTimestamp=false
watt.net.ssl.server.sessionlog.maxFileSize=10
watt.net.ssl.server.sessionlog.prettyPrint=false
watt.net.ssl.server.strongcipheronly=false
watt.net.timeout=300
watt.net.useCookies=true
watt.net.userAgent=Mozilla/4.0 [en] (WinNT; I)
watt.password.encrypt=1
watt.pkg.art.resourcebundlemanager.verbose=false
watt.security.KeystoreAndTruststore.defaultAliasCreated=true
watt.security.cert.wmChainVerifier.enforceExtensionsChecks=false
watt.security.cert.wmChainVerifier.trustByDefault=true
watt.security.decrypt.keyAlias=
watt.security.decrypt.keyStoreAlias=
watt.security.fips.mode=false
watt.security.hw.ncipher.standardPort=
watt.security.keyStore.supportedTypes=JKS, PKCS12
watt.security.max.contentLength=0
watt.security.max.headerLength=0
watt.security.max.urlLength=0
watt.security.min.bytesPerSecond=0
watt.security.ope.AllowInternalPasswordAccess=false
watt.security.openid.logExceptions=true
watt.security.pub.getFile.checkReadAllowed=false
watt.security.session.forceReauthOnExpiration=true
watt.security.sign.keyAlias=
watt.security.sign.keyStoreAlias=
watt.security.ssl.cacheClientSessions=false
watt.security.ssl.client.ignoreEmptyAuthoritiesList=false
watt.security.ssl.ignoreExpiredChains=false
watt.security.ssl.keyAlias=
watt.security.ssl.keyStoreAlias=
watt.security.ssl.keypurposeverification=false
watt.security.ssl.resumeClientSessions=false
watt.security.trustStore.supportedTypes=JKS
watt.security.trustStoreAlias=
watt.server=true
watt.server.BrokerDocSync.LockRetries=5
watt.server.I18NLogging=true
watt.server.RESTDirective=rest
watt.server.RESTDirective.V2=restv2
watt.server.SOAP.MTOMStreaming.cachedFiles.location=temp/mtom/cachedfiles
watt.server.SOAP.MTOMStreaming.enable=false
watt.server.SOAP.MTOMStreaming.threshold=4000
watt.server.SOAP.MTOMThreshold=0
watt.server.SOAP.addEmptyHeader=true
watt.server.SOAP.completeLoad=true
watt.server.SOAP.default.endpointHTTP=
watt.server.SOAP.default.endpointHTTPS=
watt.server.SOAP.defaultProtocol=SOAP 1.1 Protocol
watt.server.SOAP.directive=soap
watt.server.SOAP.encodeXSIType=true
watt.server.SOAP.encodeXSITypeValue=true
watt.server.SOAP.generateNilTags=true
watt.server.SOAP.generateRequiredTags=true
watt.server.SOAP.hideEPRHostInFault=false
watt.server.SOAP.identifyISGeneratedWSDL=true
watt.server.SOAP.inbound.CDATA.removeTags=true
watt.server.SOAP.pre82WSD.ignoreVersionMismatch=false
watt.server.SOAP.preserveCDATA=true
watt.server.SOAP.request.timeout=-1
watt.server.SOAP.retainUndeclaredNamespace=true
watt.server.SOAP.streamHandlers=
watt.server.SOAP.useMultiReference=true
watt.server.SOAP.useStringforAnyTypewithSimpleValue=false
watt.server.SOAP.validateSOAPMessage=true
watt.server.SOAP.warnOnPartValidation=false
watt.server.SoapRPC.checkHeaders=true
watt.server.SoapRPC.useSecondaryType=false
watt.server.WSDL.debug=false
watt.server.acl.groupScanInterval=10000
watt.server.allowDirective=
watt.server.apiportal.url={0}/abs/apirepository/v1/apis{1}?src\={2}&tenant\={3}
watt.server.audit.dbEncoding=UTF-8
watt.server.audit.disableInternalServerConnectionSuccessLogging=false
watt.server.audit.displayLogs.convertTime=true
watt.server.audit.failFastLoggers=
watt.server.audit.file.fieldDelimiter=
watt.server.audit.file.recordDelimiter=
watt.server.audit.journal.truncated=Info
watt.server.audit.logDir=logs
watt.server.audit.logFilesToKeep=0
watt.server.audit.logRotateSize=
watt.server.audit.schemaName=
watt.server.audit.stdout.fieldDelimiter=||
watt.server.audit.stdout.recordDelimiter=&&
watt.server.auth.cache.capacity=250
watt.server.auth.cache.enabled=true
watt.server.auth.cache.timeout=300000
watt.server.auth.checkWithSession=false
watt.server.auth.samlResolver=http\://localhost\:8585/services/SAML
watt.server.autodeploy.alwaysUseHotDeployment=true
watt.server.autodeploy.enabled=false
watt.server.autodeploy.interval=5
watt.server.broker.producer.multiclient=1
watt.server.broker.replyConsumer.fetchSize=5
watt.server.broker.replyConsumer.multiclient=1
watt.server.broker.replyConsumer.sweeperInterval=30000
watt.server.brokerTransport.dur=60
watt.server.brokerTransport.max=60
watt.server.brokerTransport.ret=3
watt.server.cache.TCDB.enabled=false
watt.server.cache.flushMins=10
watt.server.cache.gcMins=60
watt.server.cache.maxEntriesInCache=-1
watt.server.cache.prefetchUser=Administrator
watt.server.cachemanager.connectTimeout=60000
watt.server.cachemanager.logsDirectory=logs/tc-client-logs
watt.server.cachemanager.parallelThreads=5
watt.server.cgi.cache=false
watt.server.cgi.unicode=false
watt.server.checkAclsInternally=false
watt.server.checkPath.restorePipelineFromFile=true
watt.server.checkPath.savePipelineToFile=true
watt.server.checkWhitelist=true
watt.server.classloader.pkgpriority=
watt.server.clientTimeout=10
watt.server.clientTimeoutRedirect=false
watt.server.cluster.SessTimeout=60
watt.server.cluster.action.errorOnStartup=standalone
watt.server.cluster.aliasList=
watt.server.cluster.aware=false
watt.server.coder.bincoder.trycontextloaderfirst=false
watt.server.coder.responseAsXML=true
watt.server.commonmessaging.connection.retryPeriod=20
watt.server.commonmessaging.trigger.restartTaskRetryCount=6
watt.server.commonmessaging.trigger.restartTaskRetryInterval=30
watt.server.commonmessaging.trigger.reuseSession=false
watt.server.commonmessaging.trigger.stopRequestTimeout=3
watt.server.compile=/Users/stephanetailland/dev/msr/customer-management/jvm/jvm/bin/javac -classpath {0} -d {1} {2}
watt.server.compile.exitOnError=true
watt.server.compile.readFromStdErr=true
watt.server.compile.unicode=javac -encoding Unicode -classpath {0} -d {1} {2}
watt.server.content.type.default=application/octet-stream
watt.server.content.type.mappings=text/* text/xml
watt.server.control.controlledDeliverToTriggers.delayIncrementInterval=2000
watt.server.control.controlledDeliverToTriggers.delays=500,2000,3000,3500,4000,4500,5000
watt.server.control.controlledDeliverToTriggers.pctMaxThreshold=90
watt.server.control.freeMemoryThreshold=5
watt.server.control.maxPersist=500000
watt.server.control.maxPublishOnSuccess=50000
watt.server.control.memorySensorInterval=30000
watt.server.control.serverThreadThreshold=15
watt.server.control.threadSensorInterval=2000
watt.server.control.triggerInputControl.delayIncrementInterval=10000
watt.server.control.triggerInputControl.delays=500,1000,1500,5000
watt.server.cors.allowedOrigins=
watt.server.cors.enabled=false
watt.server.cors.exposedHeaders=
watt.server.cors.host=
watt.server.cors.maxAge=-1
watt.server.cors.supportedHeaders=
watt.server.cors.supportedMethods=GET,POST,PUT,DELETE,OPTIONS,HEAD,PATCH
watt.server.cors.supportsCredentials=false
watt.server.createPackage.ignorePattern=
watt.server.cronMaxThreads=5
watt.server.cronMinThreads=2
watt.server.dashboard.api.responseTime.threshold=50
watt.server.dashboard.diskspace.threshold=20
watt.server.dashboard.memory.threshold=20
watt.server.dashboard.service.responseTime.threshold=50
watt.server.date.suppressPatternError=false
watt.server.dateStampFmt=yyyy-MM-dd HH\:mm\:ss z
watt.server.db.blocktimeout=-1
watt.server.db.connectionCache=session
watt.server.db.maintainminimum=false
watt.server.db.provider=
watt.server.db.share.ISInternal=false
watt.server.db.testSQL=
watt.server.debugFIPS=false
watt.server.defaultContentHandler=true
watt.server.defaultCountry=US
watt.server.defaultLanguage=en
watt.server.defaultPackage=WmAdmin
watt.server.deprecatedExceptionLogging=false
watt.server.diagnostic.logFiles.maxMB=250
watt.server.diagnostic.logperiod=6
watt.server.diagnostic.port=9999
watt.server.diagnostic.tabular=true
watt.server.dispatcher.comms.brokerPing=1800000
watt.server.dispatcher.comms.brokerPollingInterval=10000
watt.server.dispatcher.comms.connectionShareLimit=5
watt.server.dispatcher.exactlyOnce=on
watt.server.dispatcher.join.reaperDelay=1800000
watt.server.dispatcher.messageStore.redeliverOriginalMessage=false
watt.server.displayDirectories=true
watt.server.email.charset=utf-8
watt.server.email.from=
watt.server.email.processReplyEmails=false
watt.server.email.processReturnedEmails=false
watt.server.email.waitForServiceCompletion=false
watt.server.emailPortQueue=
watt.server.enableHotDeployment=false
watt.server.enablePasswordChange=true
watt.server.enterprisegateway.ignoreXForwardedForHeader=true
watt.server.errorMail=
watt.server.event.audit.async=true
watt.server.event.exception.async=true
watt.server.event.gd.async=true
watt.server.event.jmsDeliveryError.async=true
watt.server.event.jmsRetrievalError.async=true
watt.server.event.replication.async=true
watt.server.event.routing.bodyAsString=false
watt.server.event.routing.runAsUser=Administrator
watt.server.event.security.async=true
watt.server.event.session.async=true
watt.server.event.stat.async=true
watt.server.event.tx.async=true
watt.server.eventAgentAcl=Default
watt.server.eventAgentPort=5055
watt.server.eventAgentPortEnabled=false
watt.server.eventHandlerUser=Administrator
watt.server.eventMgr.maxThreads=5
watt.server.eventMgr.minThreads=2
watt.server.extendedSettingsList=watt.server.compile;
watt.server.fileEncoding=
watt.server.ftp.listingFileAge=60
watt.server.ftp.usecommandip=false
watt.server.ftpConnect.message=true
watt.server.ftpLogin.message=true
watt.server.ftpPort=
watt.server.ftpSystem.message=true
watt.server.getLastError.removeLastError=
watt.server.grpc.clientCertRequired=false
watt.server.grpc.enable.TLS=true
watt.server.grpc.maxConcurrentCalls=100
watt.server.grpc.maxMessageSize=4194304
watt.server.hideRuntimeEnvironment=
watt.server.homeDir=/Users/stephanetailland/dev/msr/customer-management/IntegrationServer/bin/..
watt.server.hostAccessMode=include
watt.server.hostAllow=
watt.server.hostDeny=
watt.server.hostMap=
watt.server.hotDeploymentAutoRecover=false
watt.server.hotDeploymentTimeout=60
watt.server.http.Content-Security-Policy=none
watt.server.http.Strict-Transport-Security=none
watt.server.http.X-Content-Type-Options=none
watt.server.http.X-Permitted-Cross-Domain-Policies=
watt.server.http.X-XSS-Protection=none
watt.server.http.allowOptions=true
watt.server.http.authorizationEncoding=UTF-8
watt.server.http.forwardHeaders=true
watt.server.http.forwardableHeaders=x-request-id,x-b3-traceid,x-b3-spanid,x-b3-parentspanid,x-b3-sampled,x-b3-flags,x-ot-span-context
watt.server.http.header.sameSite=
watt.server.http.header.useHttpOnly=true
watt.server.http.header.useSecure=true
watt.server.http.interceptor.enabled=false
watt.server.http.interceptor.impl=
watt.server.http.interceptor.outbound.enabled=false
watt.server.http.interceptor.outbound.impl=
watt.server.http.interceptor.preprocess.sizeLimit=-1
watt.server.http.jsonFormat=parsed
watt.server.http.listRequestVars=asNeeded
watt.server.http.preserveUriReservedChars=true
watt.server.http.reauth.user-agent.list=Firefox;MSIE
watt.server.http.request.supportCompression=false
watt.server.http.response.supportCompression=false
watt.server.http.returnException=true
watt.server.http.securityRealm=Integration Server
watt.server.http.uriPath.decodePlus=true
watt.server.http.url.forbidCRLF=true
watt.server.http.useAcceptHeader=true
watt.server.http.x-frame-options=SAMEORIGIN
watt.server.http.xmlFormat=node
watt.server.httplog=false
watt.server.idatacoder.legacy=false
watt.server.idr.createScheduledTask=true
watt.server.idr.reaperInterval=10
watt.server.illegalNSChars=?'- \#&@^\!%*\:$./\\`;,~+\=)(|}{][><"
watt.server.illegalUserChars="\\<&
watt.server.indoubtresolver.triggerColumnSize=36
watt.server.indoubtresolver.uuidColumnSize=96
watt.server.inetaddress=
watt.server.invoke.maxRetryPeriod=15000
watt.server.invokeDirective=invoke
watt.server.java.unicode=false
watt.server.jca.connectionPool.thresholdWaitingRequest=0
watt.server.jca.transaction.rollbackOnWriteFailure=true
watt.server.jca.transaction.writeRecoveryRecord=true
watt.server.jdbc.datadirect.snoop.default=ddtdbg.ProtocolTraceEnable\=true;ddtdbg.ProtocolTraceMaxline\=16;ddtdbg.ProtocolTraceLocation\=logs/snoop/${pool_alias_name}.log;ddtdbg.ProtocolTraceShowTime\=true
watt.server.jdbc.datadirect.spy.default=SpyAttributes\=(log\=(file)logs/spy/${pool_alias_name}.log;logTName\=yes;timestamp\=yes)
watt.server.jdbc.defaultDriver=
watt.server.jdbc.derby.commitTolerance=150
watt.server.jdbc.driverList=
watt.server.jdbc.loginTimeout=60
watt.server.jdbc.moreResults=false
watt.server.jdbc.statementCache=false
watt.server.jdbcLogFile=logs/jdbc.log
watt.server.jdbcLogging=off
watt.server.jms.connection.monitorPeriod=45
watt.server.jms.connection.pingDestination=
watt.server.jms.connection.pingPeriod=300
watt.server.jms.connection.retryPeriod=20
watt.server.jms.connection.update.blockingTime=1000
watt.server.jms.connection.update.restartDelay=500
watt.server.jms.csq.batchProcessingSize=25
watt.server.jms.csq.maxRedeliveryCount=5
watt.server.jms.csq.publishDelayWhileDraining=0
watt.server.jms.guaranteedMultisend.alwaysUseTxLogging=false
watt.server.jms.nirvana.durableSubscriber.includeClientId=true
watt.server.jms.producer.pooledSession.timeout=60000
watt.server.jms.trigger.caching.pollingInterval=3000
watt.server.jms.trigger.concurrent.consecutiveMessageThreshold=0
watt.server.jms.trigger.concurrent.primaryThread.pollingInterval=500
watt.server.jms.trigger.concurrent.secondaryThread.pollingInterval=1
watt.server.jms.trigger.extendedDelay.delayIncrementInterval=0
watt.server.jms.trigger.extendedDelay.delays=0, 1000, 2000, 3000
watt.server.jms.trigger.groupTag=WMTG
watt.server.jms.trigger.maxDeliveryCount=100
watt.server.jms.trigger.maxPrefetchSize=10
watt.server.jms.trigger.monitoringInterval=60
watt.server.jms.trigger.pollingSession.timeout=30
watt.server.jms.trigger.pooledConsumer.timeout=20000
watt.server.jms.trigger.raiseEventOnException=true
watt.server.jms.trigger.raiseEventOnRetryFailure=true
watt.server.jms.trigger.reuseJmsTxSession=true
watt.server.jms.trigger.reuseSession=false
watt.server.jms.trigger.serial.primaryThread.pollingInterval=500
watt.server.jms.trigger.stopRequestTimeout=3
watt.server.jms.trigger.wmjms.clientIDSharing=true
watt.server.jms.wmjms.lms.readTimeout=30000
watt.server.jndi.searchresult.maxlimit=0
watt.server.jndi.searchresult.pageSize=1000
watt.server.json.allowUnquotedFieldNames=false
watt.server.json.decode.unescapeSpecialChars=true
watt.server.json.decodeIntegerAsLong=true
watt.server.json.decodeNullRootAsEmpty=false
watt.server.json.decodeRealAsDouble=true
watt.server.json.decodeRealAsString=false
watt.server.json.encodeDateAs=
watt.server.json.iterator.maxBatchSize=0
watt.server.json.iterator.maxConcurrentRequests=0
watt.server.json.iterator.minBatchSize=0
watt.server.json.optimizeForUniqueKeys=true
watt.server.json.prettyPrint=false
watt.server.json.quoteFieldNames=true
watt.server.key=
watt.server.ldap.DNescapeChars=\\/
watt.server.ldap.DNescapePairs=
watt.server.ldap.DNescapeURL=false
watt.server.ldap.DNstripQuotes=true
watt.server.ldap.checkLocalUserInLDAP=true
watt.server.ldap.cleanContext=false
watt.server.ldap.doNotBind=false
watt.server.ldap.extendedMessages=false
watt.server.ldap.extendedProps=
watt.server.ldap.groupSearchFilter=
watt.server.ldap.includeOnlyActiveGroups=true
watt.server.ldap.memberInfoInGroups=true
watt.server.ldap.retryCount=5
watt.server.ldap.retryWait=2000
watt.server.licenses=1
watt.server.log.alertMaxEntries=
watt.server.log.maxEntries=35
watt.server.log.orphanLoggers=WEBMETHODS.DEFAULT,log4j.logger.com.softwareag.wsstack,log4j.logger.com.softwareag.security,Debug.com.webmethods.lwq,com.webmethods.portal.jms.db.DbJMSClient
watt.server.log.queued=true
watt.server.log.refreshInterval=90
watt.server.logEncoding=UTF-8
watt.server.login.userFtpDir=false
watt.server.loginFailureLimit=5
watt.server.logs.dateStampTimeZone=
watt.server.math.floatOperation.mode=default
watt.server.mbean.auditPerCall=false
watt.server.messaging.csq.maxRedeliveryCount=5
watt.server.messaging.csq.publishDelayWhileDraining=0
watt.server.messaging.debugTrace=false
watt.server.messaging.deliverNotificationErrors=true
watt.server.messaging.trigger.startup.useServerThread=true
watt.server.metadata.registry.timeout=10
watt.server.meteringAgent.logInterval=60
watt.server.mime.decodeHeaders=none
watt.server.mon.auth=false
watt.server.netEncoding=UTF-8
watt.server.new.http.session.context=false
watt.server.noAccessURL=
watt.server.noObjectURL=
watt.server.ns.backupNodes=false
watt.server.ns.decodeJavaService=false
watt.server.ns.dependencyManager=true
watt.server.ns.generateServiceManifest=false
watt.server.ns.hideWmRoot=true
watt.server.ns.lockingMode=full
watt.server.ns.synchronized=false
watt.server.ns.useServiceManifest=false
watt.server.oauth.approvalpage.footer=
watt.server.oauth.approvalpage.header=Resource access approval
watt.server.oauth.approvalpage.logo=/WmPublic/images/fw_logo_sag.gif
watt.server.oauth.approvalpage.title=Access Approval
watt.server.oauth.authCode.expirySeconds=600
watt.server.oauth.authServer.alias=local
watt.server.oauth.custom.responseHeader=false
watt.server.oauth.disableClient.disableTokens=true
watt.server.oauth.log.authErrors=false
watt.server.oauth.requireHTTPS=true
watt.server.oauth.requirePKCE=false
watt.server.oauth.requirePost=true
watt.server.oauth.token.defaultExpirySeconds=3600
watt.server.oauth.token.endpoint.auth=session
watt.server.oauth.token.endpoint.local.requireSecret=false
watt.server.oauth.token.short=false
watt.server.optimize.jms.server.url=
watt.server.optimize.monitoring=false
watt.server.package.maxSizeMB=10000
watt.server.package.parallel.threads=6
watt.server.package.pre82WSD.loadExternalResources=true
watt.server.partner=
watt.server.password.historyLength=0
watt.server.password.maxIdenticalCharsInARow=3
watt.server.password.maxLength=64
watt.server.password.minDigits=0
watt.server.password.minLength=8
watt.server.password.minLowerChars=0
watt.server.password.minSpecialChars=0
watt.server.password.minUpperChars=0
watt.server.password.mode=lax
watt.server.ping.interval=1000
watt.server.pipeline.processor=true
watt.server.port=5555
watt.server.portAccess.axis2=true
watt.server.portQueue=65534
watt.server.portStateless=
watt.server.ports.ipaccess.ignoreXForwardedForHeader=true
watt.server.pubDateTimeFormat.javaSlidingWindow=false
watt.server.publish.drainCSQInOrder=true
watt.server.publish.local.rejectOOS=false
watt.server.publish.maxCSQRedeliveryCount=5
watt.server.publish.useCSQ=always
watt.server.publish.usePipelineBrokerEvent=false
watt.server.publish.validateOnIS=perDoc
watt.server.recordToDocument.bufferSize=4096
watt.server.remoteInvoke.queryCSRFToken=true
watt.server.removeDefaultMWSRolesInISACL=false
watt.server.requestCerts=false
watt.server.requireV3Manifests=true
watt.server.response.displayISErrorCode=true
watt.server.rest.addHTTPMethodToInputPipeline=false
watt.server.rest.includeNullFieldsInResponse=true
watt.server.rest.removeInputVariablesFromResponse=true
watt.server.revInvoke.proxyMapUserCerts=false
watt.server.rg.internalregistration.timeout=0
watt.server.scheduler.dbTimesUpdated=true
watt.server.scheduler.deleteCompletedTasks=true
watt.server.scheduler.ignoreReferenceValidationErrors=false
watt.server.scheduler.logical.hostname=
watt.server.scheduler.maxWait=60
watt.server.scheduler.threadThrottle=75
watt.server.search.fast=false
watt.server.securePort=5543
watt.server.security.createDefaultServicesOnPorts=true
watt.server.security.jaas.jaasRealms=IS_Transport, PlatformManagement, WSS_Message_IS, WSS_Transport_IS, IS_KERBEROS_INBOUND, IS_KERBEROS_OUTBOUND, WSS_Transport_ProxyService
watt.server.securityLog.eg.enableExternalClientIP=false
watt.server.securityLog.ignoreXForwardedForHeader=false
watt.server.securityLog.logAnonymousRequests=false
watt.server.serverLogFmt={4}  [{6}{7}.{1}.{0,number,0000}] {3}
watt.server.serverclassloadername=com.wm.app.b2b.server.ServerClassLoader
watt.server.serverlogFilesToKeep=-1
watt.server.serverlogMaskBearerToken=true
watt.server.serverlogQueueSize=8192
watt.server.serverlogRotateSize=
watt.server.service.blacklist=
watt.server.service.lazyEval=true
watt.server.service.list.treatEmptyAsNull=true
watt.server.serviceErrorsAsLogged=false
watt.server.serviceMail=
watt.server.serviceMonitor.queryOnServerId=false
watt.server.serviceResults.cache=
watt.server.serviceResults.cache.encode=false
watt.server.serviceResults.cacheManager=
watt.server.serviceUsageDSP.RefreshInterval=90
watt.server.session.locale.ignore=false
watt.server.session.stateful.enableLimit=true
watt.server.session.stateful.max=
watt.server.session.stateful.warning=25
watt.server.sftp.dateStampFmt=yyyy-MM-dd HH\:mm\:ss z
watt.server.smtp.userName=
watt.server.smtpServer=
watt.server.smtpServerPort=
watt.server.smtpTransportSecurity=none
watt.server.smtpTrustStoreAlias=
watt.server.soap.convertPlainTextHTTPResponseIntoSOAPFault=true
watt.server.soap.validateResponse=true
watt.server.soapjms.defaultMessageType=BytesMessage
watt.server.soapjms.request.timeout=10
watt.server.ssl.keyStoreAlias=
watt.server.ssl.trustStoreAlias=
watt.server.stats.clearStatsOnLogRotate=false
watt.server.stats.logFilesToKeep=0
watt.server.stats.logRotateSize=
watt.server.stats.logfile=logs/stats.csv
watt.server.stats.logfile.csv=true
watt.server.stats.packages.exclude=Wm*
watt.server.stats.pollTime=60
watt.server.statsLogRotateInterval=1440
watt.server.storage.addKeyToStoreIfNotPresent=false
watt.server.storage.lock.maxDuration=180000
watt.server.storage.lock.maxWait=240000
watt.server.storage.lock.sweepInterval=5
watt.server.storage.optimizeForStandalone=false
watt.server.storage.skipStoreExistCheck=true
watt.server.strictAccessExceptionLogging=false
watt.server.suppresscwarn=true
watt.server.sync.timeout=60
watt.server.systemtasks.debug=false
watt.server.thread.aging.limit=60
watt.server.thread.usage.limit=1000
watt.server.threadKill.enabled=true
watt.server.threadKill.interruptThread.enabled=false
watt.server.threadKill.timeout.enabled=true
watt.server.threadPool=75
watt.server.threadPool.cloudRequests=5
watt.server.threadPoolMin=10
watt.server.transaction.ignore.exception=false
watt.server.transaction.recovery.abandonTimeout=5
watt.server.transaction.recovery.sleepInterval=30
watt.server.trigger.interruptRetryOnShutdown=false
watt.server.trigger.keepAsBrokerEvent=false
watt.server.trigger.local.checkTTL=false
watt.server.trigger.managementUI.excludeList=
watt.server.trigger.monitoringInterval=60
watt.server.trigger.preprocess.suspendAndRetryOnError=false
watt.server.trigger.removeSubscriptionOnReloadOrReinstall=true
watt.server.trigger.reuseSession=false
watt.server.trigger.shutdown.timeout=3
watt.server.trigger.suspendOnAuditErrorWhen=ErrorPipelineEnabled
watt.server.tspace.location=
watt.server.tspace.max=52428800
watt.server.tspace.timeToLive=0
watt.server.tx.cluster.jobPendingWait=60
watt.server.tx.cluster.lockBreakSecs=120
watt.server.tx.cluster.lockTimeoutMillis=100
watt.server.tx.heuristicFailRetry=true
watt.server.tx.sweepTime=60
watt.server.txMail=
watt.server.typeSynchronizer.verbose=false
watt.server.um.producer.transaction.commitRetryCount=0
watt.server.url.alias.partialMatching=false
watt.server.userFtpRootDir=userFtpRoot
watt.server.ws.71xHandlerChainBehavior=false
watt.server.ws.defaultNamespace=http\://www.webMethods.com/noNamespace/
watt.server.ws.defaultPrefix=webM
watt.server.ws.responseTNS.from.request=false
watt.server.ws.security.timestampMaximumSkew=300
watt.server.ws.security.timestampPrecisionInMilliseconds=true
watt.server.ws.security.timestampTimeToLive=300
watt.server.ws.security.usernameTokenFutureTTL=60
watt.server.ws.security.usernameTokenTTL=300
watt.server.xml.encoding=
watt.server.xml.enforceEntityRef=true
watt.server.xml.xmlNodeToDocument.keepDuplicates=true
watt.server.xmlcoder.getUndefinedDataTypeClassName=false
watt.ssh.jsch.ciphers=aes256-ctr,aes192-ctr,arcfour,arcfour128,arcfour256
watt.ssh.jsch.kex=
watt.ssh.jsch.logging=false
watt.ssh.jsch.mac_c2s=
watt.ssh.jsch.mac_s2c=
watt.ssl.accelerator.provider=
watt.ssl.entrust.toolkit.ssl.fragmentblockcipher=true
watt.ssl.iaik.debug=false
watt.tx.defaultTTLMins=30
watt.tx.disabled=false
watt.tx.heuristicFailRetry=false
watt.tx.jobThreads=5
watt.tx.retryBackoffTime=60
watt.tx.sweepTime=60
watt.tx.vm.id=0
watt.um.clientLog.fileDepth=2
watt.um.clientLog.level=Error
watt.um.clientLog.size=10
watt.um.clientTraceLog.folderLogSize=1024
watt.um.clientTraceLog.level=Off
watt.um.clientTraceLog.storeLogSize=10
watt.um.clientTraceLog.stores=*
watt.xmlrpc.compressSize=2147483647
watt.xmlrpc.version=7
