<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <number name="pageSize" type="java.lang.Integer">512</number>
    <number name="fileBlockSize" type="java.lang.Integer">4096</number>
    <number name="networkBlockSize" type="java.lang.Integer">4096</number>
    <number name="luceneMemorySize" type="java.lang.Integer">256</number>
    <number name="indexerThreadCount" type="java.lang.Integer">8</number>
    <number name="searcherThreadCount" type="java.lang.Integer">8</number>
    <number name="timeSlice" type="java.lang.Integer">60</number>
    <number name="monitorTimeDelta" type="java.lang.Long">30000</number>
    <number name="pollingInterval" type="java.lang.Integer">5</number>
    <number name="maxResults" type="java.lang.Integer">1500000</number>
    <number name="retentionDays" type="java.lang.Integer">30</number>
    <number name="restartHours" type="java.lang.Integer">6</number>
    <number name="mergeInterval" type="java.lang.Integer">21600</number>
    <number name="indexInterval" type="java.lang.Integer">300</number>
    <value name="charset">UTF-8</value>
    <number name="maxTextLength" type="java.lang.Integer">65535</number>
    <number name="maxJdbcPoolConnections" type="java.lang.Integer">4</number>
    <jboolean name="jvmThreadStatsCollection">true</jboolean>
    <jboolean name="enabled">true</jboolean>
    <jboolean name="mirrored">false</jboolean>
  </record>
</IDataXMLCoder>
