{
  "CDS" : {
    "name" : "Common Directory Services",
    "class" : "com.webmethods.sc.directory.IDirectorySession"
  },
  "DD-CJDBC" : {
    "name" : "Data Direct Connect JDBC Driver",
    "class" : "com.wm.dd.jdbc.oracle.OracleDriver"
  },
  "CentraSite" : {
    "name" : "CentraSite",
    "class" : "com.softwareag.centrasite.appl.framework.beans.RegistryBean"
  },
  "DES" : {
    "name" : "Digital Event Services",
    "class" : "com.softwareag.events.routing.EventRouting"
  },
  "WmTomcat" : {
    "name" : "WmTomcat package",
    "directory" : "packages/WmTomcat"
  },
  "WebServices" : {
    "name" : "WebServices Support",
    "class" : "org.apache.axis2.engine.AxisEngine"
  }
}